<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>

<body>
    <div id="app">
        <!-- Your code here -->

        <md-app>
            <md-app-toolbar class="md-primary">
                <span class="md-title">MapSafe</span>
            </md-app-toolbar>

            <md-app-content>
                <div style="width: 100%; height: 80vh" id="mapContainer"></div>
            </md-app-content>

            <md-app-drawer md-permanent="card">
                <md-card-header>
                    <div class="md-title">Directions</div>
                </md-card-header>

                <div class="md-card-content">
                    <div class="md-layout">
                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label for="FromLocation">From</label>
                                <md-input name="from-location" id="from-location" autocomplete="from-location" v-model="searchDetails.fromLocation" />
                            </md-field>
                            <md-field>
                                <label for="ToLocation">To</label>
                                <md-input name="to-location" id="to-location" autocomplete="to-location" v-model="searchDetails.toLocation" />
                            </md-field>
                        </div>
                    </div>
                </div>
                <md-card-actions>
                    <md-button type="submit" class="md-primary md-raised" :disabled="sending" v-on:click="submit()">
                        {{ sending ? 'Finding you' : 'Find' }} the safest Route
                    </md-button>
                </md-card-actions>
                <div>
                    <md-progress-bar md-mode="indeterminate" v-if="sending"></md-progress-bar>
                </div>
            </md-app-drawer>
        </md-app>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script>
        const GetRoute = async (from, to) => {
            const endpoint = 'http://localhost:3000/routing/' //'?start=Sydney&end=Melbourne'
            const r = await axios.get(endpoint, {
                params: {
                    start: from,
                    end: to
                }
            })
            return r.data;
        }

        // Initialize the platform object:
        let platform = new H.service.Platform({
            'app_id': 'ZNaASCszEwTdL1DBDftm',
            'app_code': 'VZdRG6ZwyuEN6V4oF1h8QA'
        });

        // Obtain the default map types from the platform object
        let maptypes = platform.createDefaultLayers({ crossOrigin: true });


        let map = {}

        // VUE
        Vue.use(VueMaterial.default)

        ui = new Vue({
            el: '#app',
            data: () => ({
                searchDetails: {
                    fromLocation: null,
                    toLocation: null,
                },
                sending: false,
                history: []
            }),
            mounted: function () {
                map = new H.Map(
                    document.getElementById('mapContainer'),
                    maptypes.normal.map,
                    {
                        zoom: 13,
                        center: { lng: 13.4, lat: 52.51 }
                    });
            },
            methods: {
                submit: async function () {

                    // SEND ADDRESS TO ENDPOINT
                    this.sending = true;
                    const apiResponse = await GetRoute(this.searchDetails.fromLocation, this.searchDetails.toLocation);
                    this.sending = false;
                    console.log(apiResponse);


                    var processRoute = function (result) {
                        var route,
                            routeShape,
                            startPoint,
                            endPoint,
                            linestring;
                        if (result.response.route) {
                            // Pick the first route from the response:
                            route = result.response.route[0];
                            // Pick the route's shape:
                            routeShape = route.shape;

                            // Create a linestring to use as a point source for the route line
                            linestring = new H.geo.LineString();

                            // Push all the points in the shape into the linestring:
                            routeShape.forEach(function (point) {
                                var parts = point.split(',');
                                linestring.pushLatLngAlt(parts[0], parts[1]);
                            });

                            // Retrieve the mapped positions of the requested waypoints:
                            startPoint = route.waypoint[0].mappedPosition;
                            endPoint = route.waypoint[1].mappedPosition;

                            // Create a polyline to display the route:
                            var routeLine = new H.map.Polyline(linestring, {
                                style: { strokeColor: 'blue', lineWidth: 10 }
                            });

                            // Create a marker for the start point:
                            var startMarker = new H.map.Marker({
                                lat: startPoint.latitude,
                                lng: startPoint.longitude
                            });

                            // Create a marker for the end point:
                            var endMarker = new H.map.Marker({
                                lat: endPoint.latitude,
                                lng: endPoint.longitude
                            });

                            // Add the route polyline and the two markers to the map:
                            map.addObjects([routeLine, startMarker, endMarker]);

                            // Set the map's viewport to make the whole route visible:
                            map.setViewBounds(routeLine.getBounds());
                        }
                    };
                    //map.setCenter({ lng: 151.2, lat: -33.8 })
                    processRoute(apiResponse);

                }
            }
        })



    </script>
</body>

</html>